/** The below are the components used in the Login.tsx */

.containerPos{
    top: 10%;
}

.registerButton{
    width: 6rem;
    height: 3rem;
    
    border-radius: 1rem;
}

.submitButton{
    width: 6rem;
    height: 3rem;
    
    border-radius: 1rem;

    position: relative;
    left: 3rem;   
}

.largeHeading{
    font-family: 'Times New Roman', Times, serif;
}

/** The below are the components used in the WebForm.tsx */

.webFormButton{
    width: 12rem;
    height: 3rem;
    
    color: black;
    
    border-radius: 1rem;
}